@model School_Project.Models.Student
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Delete</h2>
@using (Html.BeginForm())
{
   @Html.HiddenFor(model => model.StudentId )
    <h3>Are you sure you want to delete this?</h3>

    <table>
        <tr>
            <td>Student Name: </td>
            <td>@Html.DisplayFor(model => model.StudentName)</td>
        </tr>
        <tr>
            <td>Student Age: </td>
            <td>@Html.DisplayFor(model => model.Age)</td>
        </tr>
        <tr>
            <td> <input type="submit" value="Delete" class="btn btn-danger" /></td>
        </tr>
    </table>
}